<nav class="navbar">
<div class="container">
<a class="logo" href="/">
<img alt="Logo" src="/img/logo.png" width="120"/>
<div class="brand">
<span class="title">霍爾果斯會計師事務所</span>
<span class="subtitle">Horgos CPA</span>
</div>
</a>
<ul class="nav-links">
<li><a class="nav-link" href="/services.html">服務項目</a></li>
<li><a class="nav-link" href="/team.html">服務團隊</a></li>
<li><a class="nav-link" href="/blog/blog.html">部落格</a></li>
<li><a class="nav-link" href="/contact.html">聯絡我們</a></li>
</ul>
</div>
</nav>