<nav class="navbar">
    <div class="container">
        <a href="/" class="logo">
            <img src="/img/logo.png" alt="Logo" width="120">
            <div class="brand">
                <span class="title">霍爾果斯會計師事務所</span>
                <span class="subtitle">Horgos CPA</span>
            </div>
        </a>
        <ul class="nav-menu">
            <li><a href="/services.html" class="nav-link">服務項目</a></li>
            <li><a href="/blog/blog.html" class="nav-link">部落格</a></li>
            <li><a href="/contact.html" class="nav-link">聯絡我們</a></li>
        </ul>
    </div>
</nav>