{{ define "main" }}
<section class="section">
  <div class="container">
    <h1 class="title">{{ .Title }}</h1>
    {{ with .Content }}
      <div class="content">
        {{ . }}
      </div>
    {{ end }}

    {{ if .Paginator.Pages }}
    <div class="columns is-multiline">
      {{ range .Paginator.Pages }}
      <div class="column is-one-third">
        <div class="box">
          <h2 class="subtitle">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </h2>
          <p>{{ .Summary }}</p>
        </div>
      </div>
      {{ end }}
    </div>

    {{ if gt .Paginator.TotalPages 1 }}
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
      {{ template "_internal/pagination.html" . }}
    </nav>
    {{ end }}
    {{ else }}
    <p class="has-text-grey">此分類下尚無其他頁面。</p>
    {{ end }}
  </div>
</section>
{{ end }}
